{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center text-primary mb-4">{{ title }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for key in data[0].keys() %}
                <th>{{ key | capitalize }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
